.container::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

@mixin col-width($size){
	width: $size*100%/(12);
}

.col-1 {@include col-width(1);}
.col-2 {@include col-width(2);}
.col-3 {@include col-width(3);}
.col-4 {@include col-width(4);}
.col-5 {@include col-width(5);}
.col-6 {@include col-width(6);}
.col-7 {@include col-width(7);}
.col-8 {@include col-width(8);}
.col-9 {@include col-width(9);}
.col-10 {@include col-width(10);}
.col-11 {@include col-width(11);}
.col-12 {@include col-width(12);}

@media screen and (max-width: $minWidth) {
	.cards{
		width:100%;
	}
	.cardsect{
		width:100%;
	}
}