html,body{
	height:100%;
	background-color: #053354;
	min-width:500px;
}


#main{
	padding:5px 5px 50px;
	width: 83.33%;
	margin:10px auto;
	background-color: #e8f1f2;
}

#main-header *, #main-header{color:white;background-color:#0a5992}
#main-header h1 {font-size: 2.5em;padding: 15px 0 0 0}
span.subheader  {font-size: 1.5em;}
#pwr-logo{float:left;}

#aboutme{
	border-right: 2px lightgray solid;
	font-family: "Courier New";
	text-indent: 50px;
}

#navbar {
	position: sticky;
	top: 0;
	overflow: hidden;
    background-color: #333;
	margin: 0;
    padding: 0;
}
#navbar ul {
	list-style-type: none;
}

#navbar li { 
	text-align:center;
	float: left;
	width:  20;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #111;
}


	
